<div class="modal-dialog modal-fullscreen">
  <div class="modal-content">
    <div class="modal-header">
      <button
        type="button"
        class="btn-close"
        data-bs-dismiss="modal"
        aria-label="Close"
      ></button>
    </div>
    <div class="modal-body">
      <div class="loginForm">
        <span class="title">Si tienes una cuenta, inicia sesión.</span>
        <div class="body">
          <div class="form-floating mb-3">
            <input
              type="email"
              class="form-control"
              id="floatingInput"
              placeholder="name@example.com"
            />
            <label for="floatingInput">Correo electrónico</label>
          </div>
          <div class="form-floating">
            <input
              type="password"
              class="form-control"
              id="floatingPassword"
              placeholder="Password"
            />
            <label for="floatingPassword">Contraseña</label>
          </div>
        </div>
        <a class="btn btn-yellow" routerLink="/user/plans" role="button">
          Entrar
        </a>
        <div class="my-3">
          ¿No estás registrado? <a href="">Crea una cuenta</a>
        </div>
      </div>
    </div>
  </div>
</div>
