.wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.main-login {
  background-color: #eee;
}

.card-login {
  width: 35rem;
  margin: 40px 0px;
  box-shadow: 0 1px 5px rgb(0 0 0 / 20%), 0 2px 2px rgb(0 0 0 / 14%),
    0 3px 1px -2px rgb(0 0 0 / 12%);
}

.create-account {
  padding-top: 5px;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

.span-create-acc {
  color: black;
  cursor: pointer;
}

.input-form {
  text-align: left;
}

.validation {
  // text-align: left;
  padding-left: 5px;
}

.a-forgotten-password {
  text-decoration: none;
  color: #039be5;
  cursor: pointer;
}

.login-container {
  margin-top: 30px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4);
}

.form-group {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.radio-terms {
  display: flex;
  width: 90%;
  align-items: center;
  justify-content: center;
  text-align: left;
  // font-size: 0.8rem;
}

@media screen and (min-width: 768px) {
  .radio-terms {
    padding-right: 3.5rem;
    width: 100%;
  }
}

.label-terms {
  margin-left: 0.5rem;
  font-size: 0.8rem;
}

.social-group {
  width: 85%;
}

.button-social {
  border: 1px solid #0d0d0d;
  width: 100%;
}

.buttonGeneral {
  background: #65b968;
  padding-left: 15px;
  padding-right: 15px;
  color: white;
  font-weight: 500;
  transition: 0.5s;
}

.buttonGeneral:hover {
  background: #65b968;
  color: white;
}

a:link {
  text-decoration: none;
}

.input-login {
  width: 85%;
}
