<main>
  <div class="container container-fluid">
    <div class="sectionOne">
      <div class="subSection">
        <div class="principal">
          <img src="assets/images/homeHouse.jpg" alt="house image" />
        </div>

        <div class="gradiente1"></div>
      </div>
      <div class="information">
        <h1 class="title">Encuentra la casa de tus sueños</h1>
        <p class="content">
          Explora nuestra gran variedad de viviendas, elige la que más se adapte
          a tus necesidades y réntala sin tanto papeleo.
        </p>
        <div class="buttons">
          <a routerLink="/catalog" class="btn btn-yellow">Ver el catálogo</a>
        </div>
      </div>
    </div>
    <div class="sectionTwo">
      <div class="image">
        <div class="principal">
          <embed src="assets/images/collageHouses.png" alt="houses collage" />
        </div>

        <div class="gradiente2"></div>
      </div>
      <div class="information">
        <h2 class="title">Gran facilidad</h2>
        <p class="content">
          Agilizamos tu proceso de alquiler de vivienda para que no tengas que
          esperar todo el papeleo que realizan las agencias, lo hacemos todo por
          ti
        </p>
        <div class="buttons">
          <a routerLink="/catalog" class="btn btn-yellow">Comienza ahora</a>
        </div>
      </div>
    </div>
    <div class="sectionThree row">
      <div class="subSections col-12 col-md-4">
        <img src="assets/images/saveTime.svg" alt="logo see anywhere" />
        <span>Ahorra tiempo</span>
        <p>
          Hacemos que el proceso de alquiler de vivienda sea lo más rapido y
          efectivo posible.
        </p>
      </div>
      <div class="subSections col-12 col-md-4">
        <img
          src="assets/images/savePaperWork.svg"
          alt="logo save the paperwork"
        />
        <span>Líbrate del papeleo</span>
        <p>
          No te preocupes por toda la documentación requerida para un alquiler,
          todo lo hacemos nosotros.
        </p>
      </div>
      <div class="subSections col-12 col-md-4">
        <img src="assets/images/adjustYou.svg" alt="logo we adjust to you" />
        <span>Nos ajustamos a ti</span>
        <p>
          Cuentanos lo que buscas, te ayudaremos a encontrar un alquiler que se
          adapte a tus requisitos.
        </p>
      </div>
    </div>
  </div>
</main>
